<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Database</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="home-page">
    <div class="container">
        <h1>🎬 Movie Database</h1>
<p class="subtitle">
    Manage your favorite movies — <br>
    easily add, update, and view records.
</p>
        <a href="/insert"><button class="insert-btn">Insert Record</button></a>
        <a href="/fetch"><button class="fetch-btn"> Fetch Records</button></a>
    </div>


</body>
</html>
